VITE_API_BASE_PATH=/api/v1
VITE_TOKEN_PATH=/auth/connect/token
VITE_DEFAULT_SCOPE=serviceprovider-api:document:read
VITE_API_TARGET=https://serviceprovider-callback-api.staging.tr.is
VITE_AUTH_TARGET=https://serviceprovider-identity-api.staging.tr.is
