VITE_API_BASE_PATH=/api/v1
VITE_TOKEN_PATH=/auth/connect/token
VITE_DEFAULT_SCOPE=serviceprovider-api:document:read
VITE_API_TARGET=https://<x-road-security-server>/r1/<instance>/<member-class>/<member-code>/serviceprovider-callback-api
VITE_AUTH_TARGET=https://<x-road-security-server>/r1/<instance>/<member-class>/<member-code>/serviceprovider-identity-api
VITE_XROAD_CLIENT=<instance>/<member-class>/<member-code>/<subsystem-code>
